
body {
	margin: 0;
	background-color: #FAFAFA;
	font-family: "SimSuncss", sans-serif;
}

header {
	background-color: #D50000;
	height: 100px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); 
	position: relative;
}

header .row {
	max-width: 980px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	color: white;
	font-size: 14px;
}

.logo {
	position: absolute;
	bottom: 10px;
	font-size: 25px;
	font-weight: 500;
}

header nav {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

nav a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

.github {
	background-image: url("icon-github.png"); 
	width: 30px;
	height: 34px;
	background-repeat: no-repeat;
	padding: 0px;
}

header .github {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.main {
	max-width: 980px;
	margin: 25px auto;
	margin-bottom: 300px;
	display: flex;
}

.content {
	box-sizing: border-box;
	width: 75%;
	margin-right: 15px;
}

.sides {
	box-sizing: border-box;
	width: 25%;
}

.card {
	box-sizing: border-box;
	border-radius: 2px;
	width: 100%;
	min-height: 50px;
 	background: white;
 	padding: 25px 16px;
 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); 
 	position: relative;
 	margin-bottom: 12px;
}

h3 {
	color: #FF1744;
	font-size: 16px;
	margin: 0px;
}

h4 {
	color: #757575;
	font-size: 12px;
	margin: 10px 0;
}

p {
	text-indent: 40px;
	line-height: 150%;
	font-size: 13px;
}

h5 {
	color: #BDBDBD;
	font-size: 12px;
	margin: 0;
	text-align: right;
}

.side-notes {
	height: 80px;
	width: 55px;
	position: absolute;
	left: -55px;
	top: 25px;
	background-color: red;
}

.side-notes p {
	color: white;
	text-indent: 0px;
	text-align: center;
	margin: 0;
	padding: 11px 0px;
}

.side-notes p:first-child {
	background-color: #D50000;
}

.side-notes p:last-child {
	background-color: #FF6E40;
}

.main-nav-container {
	width: 80%;
	margin: 0 auto;
	
}

.button {
	padding: 10px 15px;
	cursor: pointer;
	font-size: 14px;
	background-color: white;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.is-active {
	background-color: #FF6E40;
	color: white;
}

footer {
	background-color: black;
	height: 400px;
	width: 100%;
	position: relative;
}

.footer-row {
	width: 30%;
	margin: 0 auto;
}

footer nav {
	display: flex;
}

footer nav a {
	flex:1;
	text-align: center;
	font-size: 14px;
}

hr {
    border-color: rgba(255,255,255,.4);
    padding: 0;
    margin: 0;
}

.addition-content {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
}

footer p {
	text-indent: 0;
}

.col-5 {
    width: 20%;
}

footer a {
	color: white;
	text-decoration: none;
	font-size: 12px;
}

footer a:hover {
	text-decoration: underline;
}

.copy-right {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
}

.copy-right p {
	font-size: 14px;
	color: white;
	text-align: center;
	margin: 0;
}

.copy-right a {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#search {
	height: 70px;
	display: flex;
	align-items:center;
}

.search-field {
	display: flex;
	align-items:center;

	width: 100%;
	height: 40px;
	
	border-width: 1px;
	border-style: solid; 
	border-color: rgba(0,0,0,.2);
}

.search-field i {
	color: rgba(0,0,0,0.5);
}

.search-field input {
	height: 100%;
	width: 130px;
	border: 0;
	padding: 10px 0;
}

.search-field .button {
	box-shadow: initial;
	background-color: #424242;
	color: white;
}

#sections {
	padding: 0;
	box-sizing: border-size;
}

.section-tag {
	color: #757575;
	display: block;
	padding: 15px;
	border-width: 0 0 0 5px;
	border-color: rgba(0,0,0,0.2);
	border-style: solid;
}

.is-current-tag {
	border-color: #D50000;
}

#calendar {
	height: 300px;
}