body {
	margin: 0;
	font-family: "SimSuncss", sans-serif;
}

header {
	background-color: #311B92;
	width: 100%;
	height: 80px;
	position: relative;
}

header h1 {
	margin: 0px;
	color: white;
	position: absolute;
	bottom: 5px;
}

nav a {
	display: inline-block;
	padding: 10px 14px 10px 14px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
}

header nav {
	position: absolute;
	bottom: 5px;
	right: 0px;
}


.content-wrapper {
	width: 100%;
	height: 100%;
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}

.github {
	background-image: url("icon-github.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 34px;
}

header .github {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

/*  Main part */
img {
	width: 100%;
}

.image-description {
	font-size: 14px;
	padding: 10px 10px 30px 10px;
}

.banner {
	position: relative;
}

.banner .image-description {
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 30%;
	height: 20%;
	background: rgba(255,255,255,0.4);
	background: linear-gradient(
				rgba(255,255,255, .7),
				rgba(255,255,255, 0)
				);
}

.banner h2 {
	margin: 0;
	margin-bottom: 12px;
	text-align: right;
}

.image-description p {
	text-indent: 40px;
	line-height: 150%;
}

.content {
	max-width: 980px;
	display: flex;
	padding-top: 20px;
	padding-bottom: 50px;
	margin: 0 auto;
	height: 400px;
	background-color: #FAFAFA;
}

.content img {
	height: 150px;
}

.col-3 {
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  	border-radius: 2px;
	width: 32%;
	box-sizing: border-box;
	margin-right: 2%;
}

.col-3:last-child {
	margin-right: 0;
}

.self {
	padding-top: 10px;
	height: 400px;
	background-color: white;
}

.self .photo-container {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
}
.self img {
	border-radius: 50%;
	
}

.self h2 {
	text-align: center;
	font-family: "Century Gothic", sans-serif;
	font-size: 20px;
}

.self p {
	max-width: 600px;
	text-align: center;
	font-size: 14px; 
	margin: 0 auto;
}

footer {
	background-color: black;
	height: 450px;
	position: relative;
}


.footer-nav {
	width: 30%;
	margin: 0 auto;
}

footer nav {
	display: flex;
	margin: auto;
}

.footer-nav a {
	flex:1;
}

hr {
	border-color: rgba(255,255,255,.4);
	padding: 0;
	margin: 0;
}

.addition-content {
	padding-top: 50px;
	padding-bottom: 100px;
	width: 80%;
	margin: 0 auto;
	color: white;
	display: flex;
}

.col-5 {
	width: 20%;
}

.addition-content p{
	text-align: left;
}

dt a {
	color: white;
	text-decoration: none;
}

dt a:hover {
	text-decoration: underline;
}

footer p {
	color: white;
	text-align: center;
	margin: 0;
}

footer .github {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
}



.footer-bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 70px;
}